{% extends "ubiquityOSI/base.html" %}
{% load static %}
{% block content %}
         <!-- Start home section -->
        <div class="section secondary-section">
            <div class="container">
                    <div class="span9 center contact-info">
                        <div class="title">
                            <h3><b>ABOUT SECTION</b></h3>
                        </div>

                        </div>
                    </div>
            </div>
          <div id="login-form">
            <div class="limiter ">
                <div class="container-login100">
                    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                        <h3><b>About Us.</b></h3>
                            <p class="prrr"> <b class="pr4">Ubiquity : Online Services</b> is a community platform that connects skilled/unskilled people who want to sell their services/time to individual users/household/business.<br>
                                Traditional methods that are currently being followed in Pakistan have lot of drawbacks in it. Identifying those loopholes we are revolutionizing the way how people outsource their tasks.<br> We are providing an innovative solution to the problems that almost every household and business faces on day to day basis.
                                <b class="pr4"> Ubiquity : Online Services </b> not only empowers people who want to outsource task but provides an equal opportunity to the taskers (People who want to complete different tasks).<br> With <b class="pr4"> Ubiquity : Online Services </b> not only skilled labor can register & find tasks, infact unskilled professionals can register and bid for various tasks where skills are not required like pickup & delivery, data entry and others.
                                <b class="pr4"> Ubiquity : Online Services </b> is a solution that lets you live an economically stable life by selling your skills to the right people with no capital requirements.<br> For taskers, we let you save your precious time and find a right person for your job by looking at his previous job ratings and save your appliances from the brutality of an unskilled worker.</p>

                    </div>
                </div>
            </div>
          </div>
                <div class="title"></div><h3 class="sec"> Contact Us </h3><div class="title"></div>
            <div class="container">

                    <div class="span9 center contact-info">
                        <p class="btn btn-primary info-mail mb-2">Hurbanspura , Qalanderpura Lahore 45000 </p>
                        <a class="btn btn-primary btn-email info-mail mb-2" href="mailto:hafizahmad022@gmail.com">Email to: The Knowledge Seekers Group</a>
                        <p class="btn btn-primary contact-phone info-mail mb-2"><a href="tel:+92 323804xxxx">+92 323804xxxx</a></p>
                        <p class="btn btn-primary contact-phone info-mail mb-4"><a href="tel:+92 3114680xxx">+92 3114680xxx</a></p>
                    </div>
            </div>



        <!-- Contact section edn -->
        <!-- Footer section start -->
        <div class="footer">
            <p>&copy; 2020 Web App by <a href="#">Knowledge Seekers Group</a></p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
        <!-- ScrollUp button end -->

{% endblock content %}
