{% extends "ubiquityOSI/base.html" %}
{% load static %}
{% block content %}

<div class="section secondary-section " id="portfolio">
<!-- Portfolio section start -->
            <div class="triangle"></div>
        <div class="container">
                <div class=" title">
                    <h1>Service Provider Details</h1>
                    <h2>Detailed Information of <b> {{ object.author }} </b> </h2>
                </div>
<!-- Start details for portfolio project 1 -->


 <div id="single-project">
     <div id="slidingDiv" class="row-fluid single-project">
        <div class="span6">
            <img src="{{ object.select_image.url }}" alt="post-services" />
        </div>
        <div class="span6">
            <div class="project-description">
                <div class="project-title clearfix">
                    <h3>{{ object.service_title }}</h3>
                </div>
                <div class="project-info">
                    <div>
                        <span>Name :</span>{{ object.author }}</div>
                    <div>
                        <span>Date:</span>{{ object.date_posted|date:"F d, Y" }}</div>
                    <div>
                        <span>Skills : </span>{{ object.service_title }}</div>
                    <div>
                        <span>Price: </span>{{ object.enter_price }}</div>
                    <div>
                        <span>Phone Number: </span>{{ object.phone }}</div>
                <div>
                    <span class="mt-2 mb-2 mr-2 "><font>Skills Description : </font></span><p class="pr">{{ object.skills_description }}</p>
                </div>
                </div>
            </div>

            {% if object.author == user %}
                <div>
                 <p class="btn btn-outline-secondary mt-1 mb-1" ><a href="{% url 'service-update' object.id %}"> Update </a></p>
                 <p class="btn btn-outline-danger mt-1 mb-1" ><a href="{% url 'service-delete' object.id %}"> Delete </a></p>
                </div>
            {% endif %}
        </div>
     </div>

     </div>
    </div>

</div>

   <!-- Footer section start -->
        <div class="footer">
            <p>&copy; 2020 Web App by <a href="#">Knowledge Seekers Group</a></p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>

        </div>

{% endblock content %}