{% extends "ubiquityOSI/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="section secondary-section">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form method="POST" class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
						Sign Up
					</span>
							{% csrf_token %}
				<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
					<fieldset class="form-group">
						{{ form|crispy }}
					</fieldset>
				</div>
					<br>
				<div class="form-group">
					<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
					<div class="login100-form-bgbtn"></div>
					<button class="login100-form-btn" type="submit">
									Sign Up
					</button>
				</div>
				</div>

				</div>
								<div class="text-right p-t-8 p-b-31">
				<a href="{% url 'login' %}">Already Have An Account? </a>
				</div>

				<div class="txt1 text-center p-t-54 p-b-20">
				<span>Or Sign Up Using</span>
				</div>

				<div class="flex-c-m">
				<a href="#" class="login100-social-item bg1">
				<i class="fa fa-facebook"></i>
				</a>

				<a href="#" class="login100-social-item bg2">
				<i class="fa fa-twitter"></i>
				</a>

				<a href="#" class="login100-social-item bg3">
				<i class="fa fa-google"></i>
				</a>
				</div>

				<div class="flex-col-c p-t-155">
				<span class="txt1 p-b-17">
				Or Sign Up Using
				</span>

				<a href="{% url 'register' %}" class="txt2">
				Sign Up
				</a>
				</div>
				</form>
				</div>
			</div>
		</div>

	<div id="dropDownSelect1"></div>
</div>

   <!-- Footer section start -->
        <div class="footer">
            <p>&copy; 2020 Web App by <a href="#">Knowledge Seekers Group</a></p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
{% endblock content %}